/*header{
    background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: white ;
    text-transform: uppercase;
    text-align: center;
}


nav a {
    color: black;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    opacity: 0.6;
    text-decoration: none;
    text-align: center;
    width: 15%;
    display: inline-block;
}





.active{
    color: blue;
    background-color: white; margin: 10px;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
      text-decoration: none;
    text-align: center;
    width: 15%;
    display: inline-block;

}

.left {
    background-color: #526929;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: -20px;
}

.left img {
    height: 100px;
    width: 150px;
    border: 2px;
    border-color: black;
    margin: 20px;
}
.right{
    margin-left: 235px;
}
table{
    margin-left: 45px;
}
th{
    background: #549432;
    padding: 10px;
    color: white;
}
td{
    background: #d2f0c2;
    padding: 5px;
}
tr:nth-child(1){
    text-align: left;
}
th:nth-child(2){
    text-align: center;
}
th:nth-child(3){
    text-align: center;
}

td:nth-child(2){
    text-align: center;
}
td:nth-child(3){
    text-align: center;
}

*/
body{font-family: 'Roboto' , sans-serif;}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.side-bar{
    width: 250px;
    height: 100%;
    background: black;
    position: fixed;
    left: -250px;
    transition: all .5s ease;

}
.side-bar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color:  black;
    user-select: none;
}
.side-bar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: .4s


}
.side-bar ul li:hover a{
    padding-left: 50px;
}
.side-bar ul a i {
    margin-right: 16px;
}
#check{
    display: none;

}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: white;
    border-radius: 4px;

}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: red;
    padding: 6px 12px;
    transition: all .5s;


}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: blue;
    padding: 4px 9px;
    transition: all .5s;

}
#check:checked ~ .side-bar{
    left: 0;

}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;


}
